* {
    margin: 0%;
    padding: 0%;
}

.header{
    height: 40vh;
    block-size: auto;
     background-color: rgb(9, 46, 255);
     box-sizing: border-box;
}


.main {
    margin: 0%;
    padding: 0%;
    block-size: auto;
    background-color: yellow;
    box-sizing: border-box;
}
.footer {
    margin: auto;
    padding: auto;
    block-size: auto;
    background-color: rgb(9, 46, 255);
    box-sizing: border-box;
    
}

.listaNav{
    list-style: none;
}

.linknav {
    font-size: large;
    font-style: italic;
    color: yellow;
    
}
/*--------------------------------------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue
}


.thumbnail img {
    max-width: 100%;
    height: auto;


}

.form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.bgAzul {
    background-color: blue;
    padding: 20px;
    border-radius: 5px;
}

.bgAmarillo {
    background-color: yellow;
    padding: 20px;
    border-radius: 5px;
    
}
/*para celular*/
@media screen and (max-width: 768px) {
 
.bgAzul{
    padding: 15px;
    border-radius: 10px;
}

.bgAmarillo{
    padding: 20px;
    border-radius: 10px;
}

}

/*para notebook*/
@media screen and (max-width: 992px) {
.bgAzul{
    padding: 15px;
    border-radius: 5px;
    box-sizing: border-box;
}

.bgAmarillo {
    padding: 15px;
    border-radius: 10px;
    box-sizing: content-box;
}


}