* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue
}

.header {
  
}

.thumbnail img {
    max-width: 100%;
    height: auto;


}



.bgAzul {
    background-color: blue;
}

.bgAmarillo {
    background-color: yellow;
}
