body {
    font-family: $fuente-normal;
    color:$color-primario ; 
}

h1 {
    color: $color-texto;
    font-size: 4em;
    margin-bottom: 10px;
  }

  p {
    color: $color-primario;
    font-size: 1.2em;
    margin-top: 0;
  }

  img {
    max-width: 100%;
    height: auto;
  }