$color-primario: blue;
$color-secundario: yellow;
$color-texto: rgb(0, 0, 255);
$color-blanco: rgb(255,255,255) ;
$color-negro: black;

$espaciado-estandar: 10px;
$espaciado-doble: 20px;

$fuente-normal: 1em;
$fuente-pequena: 0.8em;
$fuente-grande: 1.4em;

$tipografia-general: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$tipografia-alternativa: 'Times New Roman', Times, serif;